*{
    box-sizing: border-box;
}

nav{
    color: black;
    background-color: white;
    width: 100%;
    height: 120px;
    line-height: 55px;
}

.nav-bar {
    text-align: center;
    height:100%
}

a{
    float:left;

}


.back{
    float: left;
    margin: 30px 20px;
    width: 50px;
}


.title{
    position: relative;
    font-size: 3rem;
    padding: 30px;
    font-weight: bold;
}

.menu{
    margin-top: 60%;
    text-align: center;
}

.topro{
    text-align: center;
}

.button{
    padding-top: 5px;
    position: absolute;
    display: block;
    z-index: 3;
}

.pictureme{
    width: 700px;
    height: 700px;
    border-radius: 70%;
    border-color:burlywood;
    overflow: hidden;
    margin: auto;
    z-index: 2;
}



.button1{
    color: white;
    font-size: 3rem;
    background-color:blueviolet;
    width: 49%;
    height: 22%;
    margin-bottom: 5px;
    border: none;
}

.button2{
    color: white;
    font-size: 3rem;
    background-color:blueviolet;
    width: 49%;
    height: 22%;
    border: none;
}